*.sh text eol=lf
*.ps1 text eol=lf
*.py text eol=lf
*.tf text eol=lf
*.jsx text eol=lf
*.js text eol=lf
*.cs text eol=lf
*.csproj text eol=lf
*.css text eol=lf
*.json text eol=lf
*.yaml text eol=lf
*.yml text eol=lf
*.kql text eol=lf
*.jsonl text eol=lf
