{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "UseDevelopmentStorage=true",
    "FUNCTIONS_WORKER_RUNTIME": "dotnet-isolated",
    "LOG_ANALYTICS_WORKSPACE_ID": "<workspace-id-guid>",
    "LOG_ANALYTICS_QUERY_TIMEOUT_SECONDS": "30",
    "ALLOW_ORIGINS": "*"
  }
}
